body {
    background: #000;
    font-family: sans-serif;
    color: #FFF;
    margin: 0;
    padding: 0;
}

body > ul > li {
    margin-top: 1em;
}

a {
    color: #FF0;
}

nav {
    margin: 2% 10%;
}

nav a {
    margin-right: 1em;
}

iframe {
    background: #FFF;
    border: 0;
    height: 80%;
    left: 10%;
    top: 8%;
    position: absolute;
    width: 80%;
}

footer {
    bottom: 2%;
    height: 8%;
    left: 10%;
    position: absolute;
    text-align: right;
    width: 80%;
}

footer img {
    height: 95%;
    margin-left: 4%;
}

.title-card {
    text-align: center;
}

.title-card h1 {
    font-size: 5em;
}

.title-card span {
    display: block;
    font-size: 0.75em;
    margin-top: 0.5em;
}

.title-card h2 {
    font-size: 2em;
}

.title-card div {
    display: inline-block;
    width: 24%;
}

.title-card div img:last-of-type {
    margin: 1em auto;
    width: 50%;
    display: block;
}

.title-card div img:first-of-type {
    margin: 1em auto;
    width: 75%;
}

#alertmessage {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}

hr {
    display: none;
}

:focus {
    outline: 3px solid #f1ca00;
}

@media only screen and (max-width: 610px) {
    .title-card h1 {
        font-size: 2em;
    }
    .title-card div {
        display: block;
        width: 100%;
    }
    .title-card div img:first-of-type {
        margin: .5em auto;
        width: 50%;
    }
    .title-card div img:last-of-type {
        margin: .5em auto;
        width: 40%;
    }
    .title-card h2 {
        font-size: 1.5em;
        margin: 0;
    }
    hr {
        display: block;
        width: 90%;
    }
    footer {
        position: relative;
    }
    footer img {
        width: 40%;
        margin: 0 .5em;
    }
    iframe {
        height: 100vh;
        width: 90vw;
        margin: 0 5vw;
        position: relative;
        left: 0;
    }
    footer {
        text-align: center;
    }
}